@font-face {
font-family: 'Serif Gothic Regular';
src: url(fonts/SerifGothicRegular.ttf);
}

@font-face {
font-family: 'Serif Gothic Bold';
src: url(font/SerifGothichBold.tff);
}

body {
	margin: 0;  
	padding: 0;
	font-family: 'Serif Gothic Regular', serif;
    background-color: #000000;
    min-height: 100%;	
    height: 100%;
    
}

html, body {
      height: 100%;
      width: 100%;
}

#nav {
    min-height: 100%;
    width: 224px;
    background-color: #000000;
    float: left;
}

/*#mobilenav {
    display:none;
}*/

.clearfix {
  overflow: auto;
}


#main {
   background-color: #3F3F3F; 
   max-width: 100%;
   margin: 0px 0px 0px 224px;
   height: 100%;
}

/*#main p {
    margin-top: 0px;
}*/

#kylologo {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 224px;
}

ul{
	list-style-type: none;
	display: inline-block;	
    text-align: center;
}
ul a {
    text-decoration: none;
}
a {
    color: #ffffff;
    font-size: 25px;
    line-height: 50px;
    
}

/*ul a:first-child{
    color : #D70000;
}*/

ul a:hover { 
    color: #D70000;
}

/*.headerimagesection{
    position: absolute;
}*/

.mainimagecont {
    background-size: cover; 
    background-image: url(images/kyloren747.jpg); 
    width: 100%;
    height: 747px;
    margin-bottom: 60px;
}

.spacer {
    height: 580px;
}

#spacer2{
    height:47px;
    
}

.mainimagecont .imagelink .kylobox{
    color: #ffffff;
    text-decoration: none;
    font-size: 48px;
    margin: auto;
    width: 200px;
    text-align: center;    
    display: block;
    border-style: solid;
    border-width: 5px;
    border-color: #D70000;
    background-color: #D70000;
}

.mainimagecont .imagelink .kylobox:hover {
    background-color: #000000;
    border-color: #000000;
}

fa fa-star-o {
    height:40px;
    width: 40px;
}

.deathstar {
    width: 40px;
    height: 40px;
    fill: white;
}

.deathstar:hover {
    color: white;
}

.bottomimagelink .kylorenbox {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    margin: auto;
    width: 300px;
    text-align: center;    
    display: block;
    border-style: solid;
    border-width: 5px;
    border-color: #E7250A;
    background-color: #E7250A;
   
}

.mainimagecont .bottomimagelink .kylorenbox:hover {
    background-color: #000000;
    border-color: #000000;
}

.homecontent{
    height: 400px;
    display: block;
    max-width: 1046px;
    margin: 0 auto;
}

.wrapper1 {
    border-bottom: 1px;
    border-bottom-color: #696969;
    border-bottom-style: solid;
    height: 380px;
}

.wrapper2 {
    margin-top: 60px;
    border-bottom: 1px;
    border-bottom-color: #696969;
    border-bottom-style: solid;
    height: 420px;
}
.homecontent-section-1 {
    display: inline-block;
    height: 300px;
    width: 50%;
}


.homecontent-section-1 #h1 {
    /*width: 50%;*/
    font-size: 32px;
    text-align: left;
    color: #FFEB3B;
}

.homecontent-section-1 #h2 {
    /*width: 50%;*/
    font-size: 28px;
    text-align: left;
    color: #FFEB3B;
}

.homecontent-section-1 p{
    /*width: 50%;*/
    font-size: 20px;
    line-height: 36px;
    color: white;
    text-align: left;
}

.image1 {

    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 48%;
    height: 300px;
    /*text-align: center;*/
    /*width: 50%s;*/
}


#image1 {
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 20px;
    border: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: #D70000;
}

.darthbox {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin: 30px auto auto auto;
    width: 350px;
    text-align: center;    
    border-style: solid;
    border-width: 5px;
    border-color: #D70000;
    background-color: #D70000;
    padding: 5px;
    font-family: 'Serif Gothic Regular', serif;
}

.darthbox:hover {
    background-color: #FFEB3B;
    border-color: #FFEB3B;
    color: black;
}

.wrapper3 {
    display: block;
    text-align: center;
    margin-bottom: 60px;
}

.wrapper3 h3 {
    font-size: 28px;
    color: #FF8300;   
}

.wrapper3 p {
    font-size: 20px;
    color: white;
}

form {
    color: white;
    font-family: 'Serif Gothic Regular', serif;
    line-height: 30px;
}

.submit {
    font-family: 'Serif Gothic Regular', serif;
}

#mobilenav {
    display:none;
}

/*home page media queries*/
 /* Smartphones (portrait and landscape) ----------- */
    @media only screen  
    and (max-device-width : 420px) {
        
    html, body {
      height: 100vh;
      width: 100vh;
    }

    #nav{
        display:none;
    }
    
    #main{
        margin: 0px;
        width: 100vh;
    }
    
    #mobileheader {
    background-size: 100% 100%; 
    background-image: url(images/kyloren320.jpg); 
    max-width: 100vh;
    height: 125px;
    margin-bottom: 10px;
    }
    
    .spacer, .imagelink, .spacer2, .bottomimagelink{
        display:none;
    }
    
    #mobilehomecontent{
    height: auto;
    display: block;
    max-width: 100vh;
    margin: 0 auto;
    }

    .clearfix {
        display: block;
    }
    
    #mobilenav {
        display: block;
    }
    
    #main#mobilenav {
        max-width: auto;  
        
        text-align: center;     
    }
    
    #mobilenav ul{
	list-style-type: none;
		
    text-align: center;
    }

    .wrapper1 {
        height: auto;
        display: block;
        text-align: center;
    }

    .home-content-section-1 {
        width: 100vh;
        margin: 0 auto;
        text-align: center;
    }
    
    .image1 {
        width: 100vh;
        display: block;
        text-align: center;
        height: 128px;
        width: 128px;
    }
    
    #image1 {
    margin-top: 11px;
    margin-bottom: 11px;
    padding: 10px;
    border: 11px;
    border-style: solid;
    border-width: 1px;
    border-color: #D70000;
}
    
    .homecontent-section-1 #h1 {
    /*width: 50%;*/
    font-size: 14px;
    text-align: center;
    color: #FFEB3B;
    }
    
    .homecontent-section-1 p{
    /*width: 50%;*/
    font-size: 10px;
    line-height: 36px;
    color: white;
    text-align: center;
}

}

/*kylos tale*/

#mainkylo {
    background: url("images/whoiskylo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   /*background-color: #3F3F3F; */
   max-width: 100%;
   margin: 0px 0px 0px 224px;
   height: 100%;
}

.homecontentkylo{
    height: 800px;
    display: block;
    max-width: 1046px;
    margin: 0 auto;
    text-align: center;

}

.homecontentkylo h1
{
    font-size: 48px;
    color: #FFEB3B;
    padding-top: 50px;
    margin-top: 0px;
}

.homecontentkylo p {
   color: white;
   font-size: 24px;
}


/* MATT.HTML */

.homecontentmatt{
    height: 800px;
    display: block;
    max-width: 1046px;
    margin: 0 auto;
    text-align: center;
}

.homecontentmatt h1
{
    font-size: 48px;
    color: #FFEB3B;
    padding-top: 50px;
    margin-top: 0px;
}

.homecontentmatt p {
   color: white;
   font-size: 24px;
}

.homecontentmatt iframe{
    padding: 20px;
    border: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: #D70000;
}

.thumbnails img{
    height: 250px;
    width: 250px;
}

.thumbnails img:hover {
		border: 4px solid #D70000;
		cursor:pointer;
	}

.preview img {
    border: 4px solid #D70000;
    margin: 10px;
    width:500px;
    height: 500px;
    padding: 20px;
    border: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: #D70000;
}

.gallery {
    margin-bottom: 60px; 
}

#main::-webkit-scrollbar{
width:16px;
background-color:#000;
} 

#main::-webkit-scrollbar-thumb{
background-color:#D70000;
border-radius:10px;
}

#main::-webkit-scrollbar-thumb:hover{
background-color:#D70000;
border:1px solid #000;
}
#main::-webkit-scrollbar-thumb:active{
background-color:#D70000;
border:1px solid #000;
} 

/*JEDI.HTML CSS
*/

#mainjedi {
   background-color: #3F3F3F; 
   max-width: 100%;
   margin: 0px 0px 0px 224px;
   height: 100%;
}


ul#css3menu1.topmenu {
    padding-left: 0px;
    max-height: 100vh;
    width: 256px;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
}

#css3menu1::-webkit-scrollbar{
width:16px;
background-color:#000;
} 

#css3menu1::-webkit-scrollbar-thumb{
background-color:#D70000;
border-radius:10px;
}
#css3menu1::-webkit-scrollbar-thumb:hover{
background-color:#D70000;
border:1px solid #000;
}
#css3menu1::-webkit-scrollbar-thumb:active{
background-color:#D70000;
border:1px solid #000;
} 

ul#css3menu1 li {
    height: 256px;
    width: 256px;
}

.topmenu7{
    height:260px;
}


.topfirst {
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.topfirst:hover{
    -webkit-filter: grayscale(100%);
}

.topmenu1, .topmenu2, .topmenu3, .topmenu4, .topmenu5, .topmenu6, .topmenu7{
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.topmenu1:hover, .topmenu2:hover, .topmenu3:hover, .topmenu4:hover, .topmenu5:hover, .topmenu6:hover, .topmenu7:hover{
        -webkit-filter: grayscale(100%);
}

.area{
    max-height: 100%;
    display: block;
}

.area h1, #poearea h1 {
    text-align: center;
    font-size: 48px;
    color: #F6DF18;
    margin-top: 0px;
    padding-top: 60px;
}

.area p {
    text-align: center;
    color: white;
    font-size: 24px;
}

.area img {
    display: block;
    height: 450px;
    width: 731.25px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: #D70000;
}

.topmenu7 a{
    height:0px;
}

/*poe page */

#poearea{
    margin-top: 0px;
    background-color: #E3662E;
    height: 100%;
    
}

.homecontentpoe {
        height: 800px;
    display: block;
     max-width: 100%; 
    margin: 0 auto;
    text-align: center;
}
.poeh1{
    color: #010000 !important;
}

#poearea a {
    text-decoration: none;
    margin: auto;
    width: 400px;
    text-align: center;
    display:inline-block;
    border-style: solid;
    border-width: 5px;
    border-color: #D70000;
    background-color: #D70000;
}

#poearea a:hover{
  background-color: #CD8861;
    border-color: #CD8861;  
}

/*rey*/

#reyarea{
    margin-top: 0px;
    background-color: #F2E4CA;
    height: 100%;
}

.homecontentrey {
        height: 800px;
    display: block;
     max-width: 100%; 
    margin: 0 auto;
    text-align: center;
}
.reyh1{
    color: #282725 !important;
}

#reyarea p {
    color: #282725
}

#reyarea a {
    text-decoration: none;
    margin: auto;
    width: 400px;
    text-align: center;
    display:inline-block;
    border-style: solid;
    border-width: 5px;
    border-color: #482D1A;
    background-color: #482D1A;
}

#reyarea a:hover{
  background-color: #D4B795;
    border-color: #D4B795;  
}

/*finn*/

#finnarea{
    margin-top: 0px;
    background-color: #E2EAD2;
    height: 100%;
}

.homecontentfinn {
        height: 800px;
    display: block;
     max-width: 100%; 
    margin: 0 auto;
    text-align: center;
}
.finnh1{
    color: #080B04 !important;
}

#finnarea p {
    color: #080B04
}

#finnarea a {
    text-decoration: none;
    margin: auto;
    width: 400px;
    text-align: center;
    display:inline-block;
    border-style: solid;
    border-width: 5px;
    border-color: #4E1C00;
    background-color: #4E1C00;
}

#finnarea a:hover{
  background-color: #6B6130;
    border-color: #6B6130;  
}

/*han*/

#hanarea{
    margin-top: 0px;
    background-color: #905833;
    height: 100%;
}

.homecontenthan {
        height: 800px;
    display: block;
     max-width: 100%; 
    margin: 0 auto;
    text-align: center;
}
.hanh1{
    color: #14151A !important;
}

#hanarea p {
    color: #14151A
}

#hanarea a {
    text-decoration: none;
    margin: auto;
    width: 400px;
    text-align: center;
    display:inline-block;
    border-style: solid;
    border-width: 5px;
    border-color: #FFE7CB;
    background-color: #FFE7CB;
    color: #14151A;
}

#hanarea a:hover{
  background-color: #930B1F;
    border-color: #930B1F;  
}

/*bb8*/

#bb8area{
    margin-top: 0px;
    background-color: #E78518;
    height: 100%;
}

.homecontentbb8 {
        height: 800px;
    display: block;
     max-width: 100%; 
    margin: 0 auto;
    text-align: center;
}
.bb8h1{
    color: #171B1A !important;
}

#bb8area p {
    color: #171B1A
}

#bb8area a {
    text-decoration: none;
    margin: auto;
    width: 400px;
    text-align: center;
    display:inline-block;
    border-style: solid;
    border-width: 5px;
    border-color: #D9D4D8;
    background-color: #D9D4D8;
    color: #171B1A;
}

#bb8area a:hover{
  background-color: #B7C8DC;
    border-color: #B7C8DC;  
}

/*leia*/

#leiaarea{
    margin-top: 0px;
    background-color: #932D81
;
    height: 100%;
}

.homecontentleia {
        height: 800px;
    display: block;
     max-width: 100%; 
    margin: 0 auto;
    text-align: center;
}
.leiah1{
    color: #000 !important;
}

#leiaarea p {
    color: #000
}

#leiaarea a {
    text-decoration: none;
    margin: auto;
    width: 400px;
    text-align: center;
    display:inline-block;
    border-style: solid;
    border-width: 5px;
    border-color: #6D62AA;
    background-color: #6D62AA;
    color: #000;
}

#leiaarea a:hover{
  background-color: #FF5F5C;
    border-color: #FF5F5C;  
}

/*chewie*/

#chewiearea{
    margin-top: 0px;
    background-color: #A66D2D;
    height: 100%;
}

.homecontentchewie {
        height: 800px;
    display: block;
     max-width: 100%; 
    margin: 0 auto;
    text-align: center;
}
.chewieh1{
    color: #403428 !important;
}

#chewiearea p {
    color: #403428
}

#chewiearea a {
    text-decoration: none;
    margin: auto;
    width: 400px;
    text-align: center;
    display:inline-block;
    border-style: solid;
    border-width: 5px;
    border-color: #69482E;
    background-color: #69482E;
    color: #fff;
}

#chewiearea a:hover{
  background-color: #D99241;
    border-color: #D99241;  
}

/*luke*/
#lukearea{
    margin-top: 0px;
    background-color: #EDDDAB;
    height: 100%;
}

.homecontentluke {
        height: 800px;
    display: block;
     max-width: 100%; 
    margin: 0 auto;
    text-align: center;
}
.lukeh1{
    color: #171B1A !important;
}

#lukearea p {
    color: #171B1A
}

#lukearea a {
    text-decoration: none;
    margin: auto;
    width: 400px;
    text-align: center;
    display:inline-block;
    border-style: solid;
    border-width: 5px;
    border-color: #CCB674;
    background-color: #CCB674;
    color: #171B1A;
}

#lukearea a:hover{
  background-color: #FAF1E3;
    border-color: #FAF1E3;  
}


/*ligthsaber*/
.gif {
    padding: 20px;
    border: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: #D70000;
/*.mainimagecont .imagelink button {
    color: #ffffff;
    text-decoration: none;
    font-size: 48px;
    margin: auto;
    width: 200px;
    text-align: center;    
    display: block;
    border-style: solid;
    border-width: 5px;
    border-color: #D70000;
    background-color: #D70000;
}

.mainimagecont .imagelink button:hover {
    background-color: #000000;
    border-color: #000000;
}*/

/*
ul#css3menu1{
    margin:0;
    list-style:none;
    padding:0 3px 3px;
    background-color:#424542;
    border-width:2px;
    border-style:solid;
    border-color:#FFF;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    font-size:0;
    z-index:999;
    position:relative;
    display:block;
    float:left;
    }
    
ul#css3menu1 li{
    display:block;
    white-space:nowrap;
    font-size:0;}
    
ul#css3menu1>li{
    margin:3px 0 0;}
    
ul#css3menu1 a:active, ul#css3menu1 a:focus{
    outline-style:none;}
    
ul#css3menu1 a{
    display:block;
    vertical-align:middle;
    text-align:left;
    text-decoration:none;
    font:14px Open Sans Condensed,Arial,Helvetica,sans-serif;
    color:#FFF;
    cursor:pointer;
    padding:10px;
    background-color:#424542;
    background-image:none;
    background-repeat:repeat;
    border-width:1px 0 0 0;
    border-style:solid;
    border-color:#424542;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;}
    
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
    background-color:#F8F8F8;
    border-color:#424542;
    border-style:solid;
    color:#1FAFAF;
    background-image:url(../images/mainbk.png);
    text-decoration:none;}
    
ul#css3menu1 img{
    border:none;
    vertical-align:middle;
    margin-right:10px;}
    
ul#css3menu1 li.topfirst>a{
    border-width:0;
    -moz-transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -o-transition:all 0.5s;}
ul#css3menu1 li.topmenu>a{
    -moz-transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -o-transition:all 0.5s;}
*/
/*.homecontent-section-1-#image1 {
    display: inline-block;

} */



/*.mainimagecont .imagelink .kylobox {
    width:200px;
}*/
